.class-Header {
    padding: 0 84px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    font-size: 10pt;
    color: #0049a5;
    font-weight: 500;

    a {
        color: #2e89ff;
        text-decoration: none;
    }

}