.class-SunAnimated{

    .cloud {
        background: #b2e1fe;
        background: linear-gradient(top, #BFF 5%, #DFF 100%);
        background: -o-linear-gradient(top, #BFF 5%, #DFF 100%);
        top: 50px;
        left: 50px;
        border-radius: 100px;
        position: absolute;
        margin: 120px auto 20px;
        box-shadow: 0px 0px 10px 2px #66a7fd69;
    }

    .cloud:after {
        border-radius: 100px;
    }
    
    .cloud:before {
        border-radius: 200px;
    }

    .cloud:after, 
    .cloud:before {
        content: "";
        position: absolute;
        background: #FFF;
        background-image: linear-gradient(160deg, #f2faff 0%, #B2E1FE 50%);
        z-index: 0;
    }

    .cloud-big{
        width: 350px;
        height: 120px;
    }

    .cloud-big:after {
        width: 100px; 
        height: 100px;
        top: -50px; 
        left: 50px;
    }

    .cloud-big:before {
        width: 200px; 
        height: 200px;
        top: -90px; 
        right: 50px;
    }

    .cloud-small{
        width: 175px;
        height: 60px;
    }

    .cloud-small:before {
        width: 80px;
        height: 80px;
        top: -45px;
        right: 25px;
    }

    .cloud-small:after {
        width: 80px;
        height: 80px;
        top: -36px;
        left: 25px;
    }
}